<p id="notice"><%= notice %></p>

<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Authors</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered">
      <tbody><tr>
        <th>Name</th>
      </tr>
      <% @authors.each do |author| %>
        <tr>
          <td><%= author.name %></td>
          <td><%= link_to 'Show', author %></td>
          <td><%= link_to 'Edit', edit_author_path(author) %></td>
          <td><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <%end%>
    </tbody></table>
  </div>
  <!-- /.box-body -->
</div>
<%= link_to 'New Author', new_author_path, class: "btn btn-primary", style: "color: white;" %>
