<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/assets/user2-160x160.jpg" class="img-circle" alt="User Image" />
      </div>
      <div class="pull-left info" style="padding-top: 1em;">
        <p><%= current_librarian.email %></p>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">MENU</li>
        <!-- Optionally, you can add icons to the links -->
      <li><%= link_to 'Clientes', clients_path %></li>
      <li><%= link_to 'Livros', books_path %></li>
      <li><%= link_to 'Categorias', categories_path %></li>
      <li><%= link_to 'Autores', authors_path %></li>
      <li><%= link_to 'Reservas', reservations_path %></li>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
